<!DOCTYPE html>
<html>
  <head>
    <title>clanDSTne</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/anonEnter.css' />
    <script defer src="/javascripts/headerA.js"></script>
  </head>
  <header>
    <div id="ageProofer">
            <h1>Permission denied.</h1>
    </div>
    </header>
  <body>
