<!DOCTYPE html>
<html>
  <head>
    <title>clanDSTne</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/anonEnter.css' />
    <script defer src="/javascripts/headerA.js"></script>
  </head>
  <header>
    <div id="ageProofer">
            <h1>Permission denied.</h1>
    </div>
    </header>
    <nav>
            <div class="topnav">
                <div class='navLinks'>
                    <center>
                    <a href="../lists">Listings</a>
                    <a href="/anon/logout">Exit</a>
                    </center>
                  </div>
                  <div class="hamburger">X</button>
                  </div>
            </div>
            
          </nav>
  <body>
