<%- include('../partials/headera') %>
<form id="newPost" action="/lists" method="post" >
    <input type="text" name="content" />
<input id="postSub" type="submit" value="Submit">
  </form>

<%- include('../partials/footera') %>