#ageProofer {
    position: fixed;
    width: 100%;
    height: 1100%;
    visibility: visible;
    z-index: 100;
    background-color: blue;
    font-size: 30px;
    color: white;
}

#proof {
    color: blueviolet;
}


nav {
    overflow: hidden;
  }

  .navLinks {
    display: none;
  }

  .navLinks a {
    background: slateblue;
  
  }
  .topnav a {
    color: slategrey;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10;
    top: 10;
    color: white;

  }

  .topnav a:hover {
    color: white
  }
