<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= anonShow.profession %>
    <a href="/anon">Anonymous screen</a>
  </body>
</html>