<%- include('../partials/headera') %>
    <center>
    <% if (anonShow.profession === "a" || anonShow.profession === "c") { %>
   <h2> <a href="/lists">See what's inside</a></h2>
    <% } else if (anonShow.profession === "p") { %>
      <h1>Hi professionals</h1>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/anon/auth/google">OAUTH Login</a>
      <% }; %>
    <% }; %>
      </center>


<%- include('../partials/footera') %>