<%- include('../partials/headera') %>
    
    <% if (anonShow.profession === "a" || anonShow.profession === "c") { %>
    <a href="/anon">Test for anon and consumer</a>
    <% } else if (anonShow.profession === "p") { %>
      <h1>Hi professionals</h1>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/anon/auth/google">OAUTH Login</a>
      <% }; %>
    <% }; %>


<%- include('../partials/footera') %>